bs4
certifi==2022.5.18.1
charset-normalizer==2.0.12
colorama==0.4.4
et-xmlfile==1.1.0
idna==3.3
lxml==4.8.0
multitasking==0.0.10
numpy==1.22.4
openpyxl==3.0.10
pandas==1.4.2
pillow>=9.1.0
python-dateutil==2.8.2
pytz==2022.1
qrcode==7.3.1
requests==2.27.1
requests-futures==1.0.0
simplejson==3.17.6
six==1.16.0
tqdm==4.64.0
urllib3==1.26.9
yahoo-finance==1.4.0
yahooquery==2.2.15
yfinance==0.1.70
